<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<div class="menu-wrapper">
  <div class="menu">
    <header class="menu__header">
      <h1><%= @menu.name %></h1>
      <%= link_to "Edit", edit_menu_path(@menu) %>
    </header>
      <div class="menu__body">
        <% @menu.categories.each do |category| %>
          <article class="menu__category">
            <h3 class="menu__category-title"><%= category.name %></h3>
            <div>
              <% category.items.each do |item| %>
                <div class="menu__item">
                  <div>
                    <div class="menu__item-name"><%= item.name %></div>
                    <div class="menu__item-description"><%= item.description %></div>
                  </div>
                  <div class="menu__item-adder-interface">
                    <%= number_to_currency item.price %>
                    <%= render "shared/item_adder", item:, order_item: @order&.order_items&.detect { it.item_id == item.id } %>
                  </div>
                </div>
              <% end %>
            </div>
          </article>
        <% end %>
      </div>
  </div>
  <% if @order.present? %>
    <div class="order__footer-wrapper">
      <div class="order__footer">
        <span>Total: <%= number_to_currency @total_price %> </span>
        <%= link_to edit_order_path(@order) do %>
          <button class="btn-primary">
            Continue
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>