<div class="pico">
  <%= simple_form_for @order do |f| %>
    <%= f.simple_fields_for :item_orders do |item_order_fields| %>
      <% item = item_order_fields.object.item %>

      <div class="order__item">
        <div>
          <%= item.name %><br>
          <%= item.description %>
        </div>
        <div>
          <%= number_to_currency item.price %>
          <%= item_order_fields.input :quantity %>
        </div>
      </div>
    <% end %>
    <%= f.submit "Proceed to Payment" %>
  <% end %>
</div>